/*
==========================================
     Details Css
==========================================
*/
.details-select-color {
    padding-bottom: 10px;
}
.details-quantity-add-to-cart {
    border-top: 1px solid #dddddd;
    padding-top: 25px;
}
span.calender-month {
    font-size: 14px;
    padding-left: 15px;
}
.review-comments-link {
    color: #000000;
    font-weight: 700;
}