
/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
 body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	background-color: rgb(243, 243, 243);
}
.img {
	max-width: 100%;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-webkit-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::-ms-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
	background: #1696e7 none repeat scroll 0 0;
	border: medium none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 13px 25px;
	text-align: center;
	text-transform: uppercase;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.breadcrumb > .active {
	color: #888;
}

/* scrollUp */
/*
#scrollUp {
	background: #777;
	height: 40px;
	width: 40px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 3px;
	font-size: 20px;
	line-height: 38px;
}
#scrollUp:hover {
	background: #d7537b;
}

*/
html, body{
	height: 100%;
}
.section-padding{
	padding: 80px 0px;
}



/*
==========================================
    All Heading Css
==========================================
*/
.main-pra p {
	text-align: center;
	color: #d7537b;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}
.main-heading-title{
	text-align: center;
}
.main-heading-title h3 {
	font-size: 35px;
	color: #282828;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	padding: 0 20px;
	display: inline-block;
	text-align: center;
}
.main-heading-title h3::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #d7537b;
	top: 50%;
	margin-top: -4px;
	left: 0;
	border-radius: 100%;
}
.main-heading-title h3::after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #d7537b;
	top: 50%;
	margin-top: -4px;
	right: 0;
	border-radius: 100%;
}
/*
==========================================
    Header Area Css
==========================================
*/
.header-top{
	background-color: #d7537b;
}
.social-icon{
	padding: 7px 0 6px 0;
	background-color: #EC3B83;
	text-align: center;
}
.social-icon ul li{
	display: inline-block;
	margin-right: 2px;
}
.social-icon ul li a {
    display: block;
    font-size: 14px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 31px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
.social-icon ul li a:hover{
	border-color: #d7537b;
	background-color: #ffffff;
	color: #EC3B83;
}
.top-register{position: relative;}
.top-register ul li{
	display: inline-block;
	margin-right: 20px;
}
.top-register ul li:last-child{
	margin: 0px;
}
.top-register ul li a {
	display: block;
	color: #ffffff;
	font-size: 13px;
}
.top-register ul li a i {
	color: #fff;
	margin-right: 5px;
	font-size: 11px;
}
.top-register ul li:hover a{
	color: #000000;
}
.top-register::after {
	position: absolute;
	top: 0;
	left: 60px;
	content: '/';
	color: #ffffff;
}
.top-language {
	text-align: right;
}
.top-language ul li{
	display: inline-block;
	margin-left: 20px;
	position: relative;
}
.top-language ul li:first-child{
	margin: 0px;
}

.top-language ul li a {
	display: block;
	color: #878787;
	font-size: 13px;
	text-transform: uppercase;
	padding: 11px 0px;
}
.top-language ul li a i {
	margin-left: 5px;
}
.top-language ul li a img {
	width: 15px;
	height: 11px;
	margin-top: -2px;
	margin-right: 1px;
}
/* submenu */
.top-language ul li .submenu {
	position: absolute;
	width: 115px;
	background: #fff;
	top: 120%;
	right: 0;
	-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
	        box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
	padding: 10px 20px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-align: left;
	z-index: 1;
}
.top-language ul li:hover > .submenu {
	visibility: visible;
	opacity: 1;
	top: 100%;
}
.top-language ul li .submenu ul li {
	display: block;
	margin: 0;
}
.top-language ul li .submenu ul li a {
	text-transform: capitalize;
	display: block;
	padding: 5px 0px;
}
.top-language ul li .submenu ul li a img{
	width: 15px;
	height: 10px;
}
/*
==========================================
    Header Middle Css
==========================================
*/
.logo {
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
	        box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
	text-align: center;
	padding: 10px 0;
}
.logo a img {
    width: 100%;
    padding: 0px 30px;
    height: 100px;
}
.filter {
	float: left;
}
.middle-search input {
    border: 2px solid #e5e5e5;
    float: left;
    border-right: none;
    height: 47px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 0px 0px 5px;
    width: 85%;
  }
  .bordered-btn {
    height: 46px;
    text-align: center;
    line-height: 45px;
    padding: 11px 20px;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d7537b;
    color: #fff;
}

.heart-icon a {
	width: 45px;
	height: 45px;
	border: 2px solid #e5e5e5;
	font-size: 18px;
	color: #282828;
	border-radius: 5px;
	display: block;
	text-align: center;
	line-height: 44px;
	float: left;
	margin-right: 32px;
}

.my-cart a span.basket {
	width: 44px;
	height: 41px;
	line-height: 40px;
	float: left;
	text-align: center;
	border-right: 2px solid #e5e5e5;
	font-size: 18px;
	color: #282828;
	position: relative;
}
.my-cart {
	position: relative;
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	display: inline-block;
}
.cart {
	margin-left: 24px;
	line-height: 40px;
	font-size: 14px;
	color: #282828;
}
.dollar {
	font-weight: bold;
	margin-right: 23px;
	color: #d7537b;
	margin-left: 5px;
}

.basket::before {
	position: absolute;
	top: -13px;
	width: 22px;
	height: 22px;
	background: #d7537b;
	color: #fff;
	content: '0';
	border-radius: 50%;
	line-height: 21px;
	right: -13px;
	font-size: 12px;
}
.my-cart ul li{
	position: relative;
}
.my-cart ul li .product-list {
	position: absolute;
	background: #fff;
	-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
	        box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
	top: 120%;
	right: 0;
	width: 361px;
	text-align: center;
	margin-top: 2px;
	padding: 15px 0px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	z-index: 1;
}
.product-list ul li p {
	margin: 0px;
}
.my-cart ul li:hover > .product-list {
	visibility: visible;
	opacity: 1;
	top: 100%;
	cursor: pointer;
}
/*
==========================================
    Area Css
==========================================
*/
/*
==========================================
    Header Bottom Css
==========================================
*/
.main-menu ul li{
	display: inline-block;
	margin-right: 30px;
	position: relative;
}
.main-menu ul li a{
	padding: 15px 0px;
	font-size: 14px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-weight: normal;
}

.main-menu ul li:hover > a{
	color: #ff9600;
}
.main-menu-icon {
	margin-left: 10px;
}
/* submenu */
.main-menu ul li ul.submenu {
	position: absolute;
	width: 269px;
	background: #fff;
	left: 0;
	visibility: hidden;
	top: 110%;
	opacity: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	z-index: 99;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
	        box-shadow: 0 0 6px rgba(0,0,0,.2);
}

.main-menu ul li:hover > ul.submenu {
	visibility: visible;
	opacity: 1;
	top: 100%
}
.main-menu ul li ul.submenu li {
    display: block;
    margin: 0;
}
.main-menu ul li ul.submenu li a{
	color: #666;
	padding: 10px 20px;
	text-transform: capitalize;
}
.main ul li ul.submenu li a{
	font-weight: normal;
}
.main-menu ul li ul.submenu li:hover > a{
	color: #fff;
	background-color: #d7537b;
}


.main-menu ul li ul.submenu li ul.submenu {

    left: 100%;
    top: 0;

}


/* mega-menu */
.mega-menu-picture img {
	width: 100%;
	height: 125px;
}
.arrival-banner img {
	max-width: 100%;
}
.arrival-banner {
	margin-top: 20px;
	display: inline-block;
}
.main-menu ul li .mega-menu {
	background: #fff;
	position: absolute;
	top: 110%;
	left: 0;
	width: 885px;
	padding: 15px 15px 30px 15px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	z-index: 99;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
	        box-shadow: 0 0 6px rgba(0,0,0,.2);
}
.main-menu ul li:hover .mega-menu{
	top: 100%;
	opacity: 1;
	visibility: visible;
}
.main-menu ul li .mega-menu ul{
	float: left;
	width: 25%;
	padding: 0px 15px;
}
.main-menu ul li .mega-menu ul li{
	display: block;
	margin: 0;
}
.main-menu ul li .mega-menu ul li a {
	color: #666;
	padding: 7px 0px;
	text-transform: capitalize;
	padding-left: 0px;
	font-size: 13px;
}
.main-menu ul li .mega-menu ul li:hover > a{
	color:#ff9600;
}
.main-menu ul li.static{
	position: static;
}
.main-menu ul li .mega-title a {
	border-bottom: 1px solid #eaeaea;
	font-weight: 700;
	text-transform: uppercase !important;
	color: #222 !important;
	font-size: 14px !important;
}
.mega-menu ul li a{
	font-weight:normal
}
/* sub-categories */
.main-menu ul li ul.sub-categories li a span i.right {
	float: right;
}
/* categories-mega-menu */
.categories {
	padding: 0px 20px;
	font-weight: bold;
	color: #fff;
}
.main-menu ul li ul.sub-categories li .categories-mega-menu ul {
	width: 100%;
}
.categories-item img {
	max-width: 100%;
	height: 463px;
}
.main-menu ul li ul.sub-categories li .categories-mega-menu{
	top:0;
	visibility: hidden;
	left: 110%;
	opacity: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;

}
.main-menu ul li ul.sub-categories li:hover > .categories-mega-menu{
	visibility: visible;
	left: 100%;
	opacity: 1;
}

/* bags-categories */

.main-menu ul li ul.sub-categories li .bags-categories{
	top:0;
	left: 110%;
	visibility: hidden;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: 0;
}
.main-menu ul li .bags-categories ul {
	width: 33.33%;
}
.main-menu ul li ul.sub-categories li:hover > .bags-categories{
	visibility: visible;
	left: 100%;
	opacity: 1;
}
.main-menu ul li .mega-menu.new-arrival {
	width: 492px;
}
.main-menu ul li .mega-menu.pages {
	width: 342px;
}
.main-menu ul li .mega-menu.new-arrival ul {
	width: 50%;
}
.header-bottom-left{
	position: relative;
}
.bars {
	position: absolute;
	top: 0;
	right: 20px;
	color: #fff;
	line-height: 52px;
	font-size: 16px;
}
.header-bottom {
	background-color: #d7537b;
}
.header-bottom-categories .main-menu {
	background: #EC3B83;
	color: #fff;
}
.header-bottom-categories .main-menu ul li {
	display: block;
}














/*
==========================================
     Offer Banner Area Css
==========================================
*/
.offer-banner-active .owl-nav div {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	font-weight: 400;
	margin-left: -21px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.offer-banner-active .owl-nav div:hover {
	background-color: #d7537b;
	border-color: #d7537b;
	color: #fff;
}
.offer-banner-active .owl-nav .owl-next {
	right: 0;
	margin-right: -21px;
}


/*
==========================================
    Shop By Categories Area Css
==========================================
*/
.description-cat span {
    text-transform: uppercase;
    color: #282828;
    font-weight: 700;
    font-size: 14px;
}
.description-cat span:hover{
	color: #d7537b;
}
/*
==========================================
     Featured Brand Area Css
==========================================
*/
.featured-brand-active .owl-nav div {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	font-weight: 400;
	margin-left: -21px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.featured-brand-active .owl-nav div:hover {
	background-color: #d7537b;
	border-color: #d7537b;
	color: #fff;
}
.featured-brand-active .owl-nav .owl-next {
	right: 0;
	margin-right: -21px;
}
.product-name span a {
	color: #000;
	font-size: 14px;
}
.product-rating span {
	color: orange;
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
	margin-bottom: 5px;
}
.featured-product-content {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	display: block;
	background: white;
	padding: 10px 10px;
}
.single-featured-product:hover{
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
}

.single-featured-brand{
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	display: block;
	background: white;
	cursor: pointer;
}

.single-featured-brand:hover{
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
}
.featured-brand-content{
	width: 100%;
	position: relative;
	border-radius: 0px 0px 3px 3px;
	background: rgb(255, 255, 255);
	overflow-wrap: break-word;
	padding: 10px 0px;
	text-transform: capitalize;
	padding: 20px 5px;
	text-align: center;
}
.featured-brand-content .discount-text span{
	display: inline-block;
	color: rgb(252, 39, 121);
	margin: 0px 4px;
	font-size: 16px;
}
.featured-brand-content .description span{
	color: #000;
}
/*
==========================================
    Featured Product Area Css
==========================================
*/
.featured-product-active .owl-nav div {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	font-weight: 400;
	margin-left: -21px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.featured-product-active .owl-nav div:hover {
	background-color: #d7537b;
	border-color: #d7537b;
	color: #fff;
}
.featured-product-active .owl-nav .owl-next {
	right: 0;
	margin-right: -21px;
}
.product-name span a {
	color: #000;
	font-size: 14px;
}
.product-rating span {
	color: orange;
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
	margin-bottom: 5px;
}
.featured-product-content {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	display: block;
	background: white;
	padding: 10px 10px;
}
.single-featured-product:hover{
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
}
/*
==========================================
    Sponsore Area Css
==========================================
*/
.sponsor-active .owl-nav div {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	font-weight: 400;
	margin-left: -21px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.sponsor-active .owl-nav div:hover {
	background-color: #d7537b;
	border-color: #d7537b;
	color: #fff;
}
.sponsor-active .owl-nav .owl-next {
	right: 0;
	margin-right: -21px;
}
.owl-carousel .owl-item .single-sponsor img {
    display: block;
    width: 100%;
    height: 90px;
}

/*
==========================================
    Details Area Css
==========================================
*/
.details-active .owl-dots {
	text-align: center;
}
.details-active .owl-dots div {
	display: inline-block;
	margin-right: 15px;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-top: 15px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.details-active .owl-dots div:last-child{
	margin-right: 0px;
}
.details-active .owl-dots img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
}
.details-active .owl-dots div.active {
	opacity: .3;
}
.owl-item .details-content img {
    display: block;
    width: 100%;
    height: 335px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}
.details-head h2 {
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 1px;
}
span.details-rating i {
    color: orange;
}
span.details-stock {
    color: #ff7878;
}
span.non-del {
    color: #ff7878;
    font-size: 30px;
    font-weight: 700;
}
span.del {
    font-size: 30px;
    font-weight: 700;
	color: rgba(0,0,0,0.22);;
}
.details-cart-social {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.details-quantity span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    padding: 0px;
    font-weight: normal;
}
.details-quantity-number input {
    border: 1px solid #f2f2f2;
    height: 35px;
    left: 0;
    padding: 0px 10px;
    width: 70%;
}
.details-add-to-cart a {
    color: #ffffff;
    background-color: #000000;
    padding: 8px 10px;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #000000;
}
.details-add-to-cart a:hover {
    color: #000000;
	background-color: transparent;
	border: 1px solid #000000
}





































/*
==========================================
    Footer Area Css
==========================================
*/
.footer-bg{
    background-color: #d7537b;
}


/* footer top */

.footer-top {
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer-title h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.footer-title {
	margin-bottom: 30px;
}
.footer-list ul li {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 15px;
}
.footer-list ul li a{
	display: block;
	color: #ffffff;
}
.footer-list ul li a:hover{
	color: #d7537b;
}
.list-icon {
	color: #ffffff;
	font-size: 22px;
	width: 45px;
	display: inline-block;
}

/* footer middle */

.footer-middle {
	position: relative;
	min-height: 130px;
	margin-bottom: 30px;
}
.footer-middle-overlay::before {
	position: absolute;
	content: '';
	background-color: #d7537b;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .3;
}
.footer-social-title {
	float: left;
	margin-right: 15px;
}
.footer-social-title h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	line-height: 44px;
	margin: 0;
}
.footer-social ul li {
	display: inline-block;
	margin-right: 5px;
}
.footer-social ul li:last-child{
	margin: 0px;
}
.footer-social ul li a {
	width: 40px;
	height: 40px;
	background-color: #fff;
	text-align: center;
	line-height: 41px;
	font-size: 18px;
	color: #484848;
	display: block;
	border-radius: 3px;
}
.footer-social ul li a:hover{
	background-color: #d7537b;
	color: #fff;
}
.newsletter {
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-subscribe input {
	border: none;
	padding: 10px 20px;
	width: 250px;
	float: left;
}
.footer-subscribe a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	background-color: #d7537b;
	padding: 13px 20px;
	line-height: 44px;
}

/* footer bottom */

.footer-bottom {
	min-height: 50px;
}
.footer-copy p {
	margin: 0px;
	line-height: 32px;
    color: #ffffff;
}
.payment-cart {
	text-align: right;
}


/* off canvas menu */

.menu-trigger {
	border: 1px solid #444;
	color: #444;
	cursor: pointer;
	line-height: 40px;
	margin-top: 15px;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 18px;
}

.off-canvas-overlay {
	position: fixed;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.off-canvas-overlay.active {
	z-index: 98;
	opacity: .6;
}
.menu-close {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding: 25px;
	cursor: pointer;
}
.off-canvas-menu {
	background: #333;
	width: 300px;
	position: fixed;
	z-index: 9999;
	height: 100%;
	padding: 15px 0px;
	margin-left: -300px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.off-canvas-menu.active{
	margin-left: 0;
}
.off-canvas-menu ul {
	padding-top: 50px;
}
.off-canvas-menu ul li {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	position: relative;
}
.off-canvas-menu ul li a{
	display: block;
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
}
