
/*
==========================================
    Google Fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

/*
==========================================
    Theme default css
==========================================
*/

.img {
	max-width: 100%;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	color: #000000;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover{
	text-decoration: none;
}
a,
button {
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 15px;
	font-weight: normal;
	line-height: 28px;
	margin-bottom: 15px;
	text-align: justify;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-webkit-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::-ms-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
	-moz-user-select: none;
	background: #1696e7 none repeat scroll 0 0;
	border: medium none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 13px 25px;
	text-align: center;
	text-transform: uppercase;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
	background-color: #d7537b;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #d7537b;
}
.owl-carousel .owl-nav div.owl-prev {
	background-color: #d7537b;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #d7537b;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #ffffff;
	color: #d7537b;
	border:1px solid #d7537b;
}

/* scrollUp */
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}
.section-padding {
	padding: 27px 0px;
}
.margin-xl {
	margin-bottom: 30px;
}
/*
==========================================
    All Heading Css
==========================================
*/
.all-heading {
	margin-bottom: 15px;
	text-align: center;
}
.all-heading h3 {
    color: #3f414d;
    font-size: 24px;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}
/*
==========================================
    Header Top Area Css
==========================================
*/
.header-top{
	background-color: #d7537b;
	height: 40px;
    line-height: 40px;
    padding: 0px;
    position: relative;
    z-index: 10001 !important;
}
.header-top-left {
    vertical-align: middle;
    float: left;
    height: 40px;
    margin-bottom: 0 !important;
    overflow: hidden;
    position: relative;
	width: 100%;
}
.left-message {
    position: absolute;
    left: 0;
    top: 0;
    animation: slide 2s infinite;
    letter-spacing: -0.1px;
    line-height: 40px;
    border: 0px !important;
}
.left-message a {
    color: #000000 !important;
    text-decoration: none;
	font-weight: 500;
	font-size: 16px;
}
.header-top-right{}
.header-top-right ul {
    float: right;
}
.header-top-right ul li {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 13px;
}
.header-top-right ul li:last-child {
    padding: 0 0px;
}
.header-top-right ul li a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}
span.header-top-right-icon {
    font-size: 14px;
    float: left;
    margin-right: 3px;
}
span.header-top-right-text {
    margin-left: 2px;
}
.header-top-right ul li a:hover{
	color: #ffffff;
	border-color: #ffffff;
}

/*
==========================================
    Header Middle Area Css
==========================================
*/
.header-middle-logo img {
    width: 100%;
    height: 85px;
}

.header-middle-main-menu{}
.header-middle-main-menu ul{}
.header-middle-main-menu ul li{
	display: inline-block;
	margin-right: 30px;
	position: relative;
}
.header-middle-main-menu ul li a {
    padding: 32px 0px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #03021a;
    margin: 0 auto;
}

.header-middle-main-menu ul li:hover > a{
	color: #d7537b;
}
/* header-middle-submenu */
.header-middle-main-menu ul li ul.header-middle-submenu {
    position: absolute;
    width: 870px;
    top: 110%;
    background: #ddd;
    left: -204px;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
}
.header-middle-main-menu ul li:hover > ul.header-middle-submenu {
	visibility: visible;
	opacity: 1;
	top: 100%
}
.header-middle-main-menu ul li ul.header-middle-submenu li {
    display: block;
    margin: 0;
}
.header-middle-main-menu ul li ul.header-middle-submenu li a {
    color: #000;
    padding: 10px 20px;
    background-color: #d8d8d8;
    margin-right: 15px;
}

.header-middle-account{}
.header-middle-account ul{
	float: right;
}
.header-middle-account ul li{
	display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 13px;
}
.header-middle-account ul li:last-child{
	padding: 0 0px;
}
.header-middle-account ul li a{
	width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}
.header-middle-account ul li a:hover{}
.header-middle-account-icon-account {
    font-size: 22px;
    float: left;
    margin-right: 7px;
}
.header-middle-account-icon-shopping{
	font-size: 14px;
    float: left;
}
span.header-middle-account-icon-shoping {
    font-size: 23px;
    margin-left: 23px;
}
.header-middle-search input {
    width: 100%;
    padding: 4px 12px;
}
.nav-pills .nav-link.hmsbcr-nav.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #d7537b;
}

/* header bottom css */
.nav-pills .nav-link.hbc-tab.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #d7537b;
}
.nav-pills .nav-link.hbc-tab, .nav-pills .show>.nav-link {
    color: #000;
}


/*
==========================================
    Banner Or Slider Area Css
==========================================
*/
i.fa-solid.fa-chevron-left.banner-icon {
    transform: initial;
    height: 56px;
    width: 56px;
    top: 45%;
    content: "";
    display: inline-block;
    position: absolute;
    left: 8px;
    border: 0;
    cursor: pointer;
    z-index: 2;
    background-color: #ffffff;
    color: #000000;
    line-height: 56px;
    border-radius: 100%;
}
i.fa-solid.fa-chevron-right.banner-icon {
    transform: initial;
    height: 56px;
    width: 56px;
    top: 45%;
    content: "";
    display: inline-block;
    position: absolute;
    right: 6px;
    border: 0;
    cursor: pointer;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 100%;
    color: #000000;
    line-height: 56px;
}
/*
==========================================
    Top Brand Area Css
==========================================
*/
.top-brand-body-content{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 280px;
}
.top-brand-text {
	position: absolute;
    border-radius: 3px;
    background: rgba(255,255,255,1 );
    word-wrap: break-word;
    padding: 5px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 20px;
    max-width: 100%;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    bottom: 0px;
    text-transform: capitalize;
    padding: 20px 5px;
    height: 85px;
}
.top-brand-text-discount {
    font-weight: 400;
    line-height: 1.2;
    padding: 0 5px;
    color: #d7537b;
    font-size: 18px;
    margin: 0 4px;
}
.top-brand-text-description {
    font-size: 16px;
    color: #3f4144;
}
/*
==========================================
    Sponsor Logo Area Css
==========================================
*/

/*
==========================================
    Footer Area Css
==========================================
*/
.footer-bg{
	background-color: #d7537b;
}


/* footer top */

.footer-top {
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer-title h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.footer-title {
	margin-bottom: 30px;
}

.footer-list{}
.footer-list ul{}
.footer-list ul li {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 15px;
}
.footer-list ul li a{
	display: block;
	color: #ffffff;
}
.footer-list ul li a:hover{
	color: #000000;
}
.list-icon {
	color: #ffffff;
	font-size: 22px;
	width: 45px;
	display: inline-block;
}

/* footer middle */

.footer-middle {
	position: relative;
	min-height: 130px;
	margin-bottom: 30px;
}
.footer-middle-overlay::before {
	position: absolute;
	content: '';
	background-color: #890e33;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .3;
}
.footer-social-title {
	float: left;
	margin-right: 15px;
}
.footer-social-title h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	line-height: 44px;
	margin: 0;
}
.footer-social{}
.footer-social ul{}
.footer-social ul li {
	display: inline-block;
	margin-right: 5px;
}
.footer-social ul li:last-child{
	margin: 0px;
}
.footer-social ul li a {
	width: 40px;
	height: 40px;
	background-color: #fff;
	text-align: center;
	line-height: 41px;
	font-size: 18px;
	color: #484848;
	display: block;
	border-radius: 3px;
	border: 1px solid #ffffff;
}
.footer-social ul li a:hover{
	background-color: transparent;
	color: #fff;
	border: 1px solid #ffffff;
}
.newsletter {
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-subscribe input {
	border: none;
	padding: 10px 20px;
	width: 250px;
	float: left;
}
.footer-subscribe a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	background-color: #890e33;
	padding: 13px 20px;
	line-height: 44px;
}

/* footer bottom */

.footer-bottom {
	min-height: 50px;
}
.footer-copy p {
    margin: 0px;
    line-height: 32px;
    color: #ffffff;
}
.payment-cart {
	
}
.payment-cart ul {
    text-align: right;
}
.payment-cart ul li {
    display: inline-block;
}
.payment-cart ul li a {
    
}
.payment-cart ul li a img {
    width: 50px;
    height: 33px;
}
/*
==========================================
    Area Css
==========================================
*/

/*
==========================================
    Area Css
==========================================
*/

/*
==========================================
    Area Css
==========================================
*/